In [37]:
import requests
import pandas as pd

# URL del endpoint
url_contacts = "https://unify.kolla.dev/dental/v1/contacts"

# Headers necesarios para la solicitud
headers = {
    "accept": "application/json",
    "authorization": "Bearer kc.wy4doz22svbcdnnm4tlpkgtmkm",
    "connector-id": "opendental-50181",
    "consumer-id": "kolla-opendental-sandbox"
}

# Realizar la solicitud GET
try:
    response = requests.get(url_contacts, headers=headers)

    # Verificar si la solicitud fue exitosa
    if response.status_code == 200:
        # Convertir la respuesta a JSON
        data = response.json()

        # Convertir los datos a un DataFrame de pandas
        df_contacts = pd.DataFrame(data)  # Asegúrate de que los datos sean una lista de diccionarios

        print("Datos obtenidos y convertidos a DataFrame:")
        print(df_contacts.head())  # Muestra las primeras filas del DataFrame
    else:
        print(f"Error al obtener los datos: {response.status_code}")
        print("Detalle:", response.text)

except Exception as e:
    print(f"Error al conectar con la API: {e}")

Datos obtenidos y convertidos a DataFrame:
                                            contacts  \
0  {'name': 'contacts/805', 'remote_id': '805', '...
1  {'name': 'contacts/804', 'remote_id': '804', '...
2  {'name': 'contacts/803', 'remote_id': '803', '...
3  {'name': 'contacts/802', 'remote_id': '802', '...
4  {'name': 'contacts/801', 'remote_id': '801', '...

                                     next_page_token
0  NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...
1  NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...
2  NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...
3  NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...
4  NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...

In [38]:
df_contacts.head()

,contacts,next_page_token
0,"{'name': 'contacts/805', 'remote_id': '805', '...",NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...
1,"{'name': 'contacts/804', 'remote_id': '804', '...",NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...
2,"{'name': 'contacts/803', 'remote_id': '803', '...",NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...
3,"{'name': 'contacts/802', 'remote_id': '802', '...",NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...
4,"{'name': 'contacts/801', 'remote_id': '801', '...",NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...

In [39]:
# Desanidar la columna "contact_info"
contact_info_df = pd.json_normalize(df_contacts['contacts'])

# Combinar con el DataFrame original (sin duplicar la columna desanidada)
df_contacts = pd.concat([df_contacts.drop(columns=['contacts']), contact_info_df], axis=1)

# Mostrar el DataFrame resultante
df_contacts.head()

,next_page_token,name,remote_id,type,given_name,family_name,preferred_name,gender,birth_date,notes,...,state,preferred_provider,first_visit,guarantor,opt_ins,create_time,update_time,additional_data.ImageFolder,opt_ins.sms,opt_ins.email
0,NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...,contacts/805,805,PATIENT,Jorge,Martínez,,GENDER_OTHER,0000-00-00,,...,ACTIVE,None,0001-01-01,contacts/805,NaN,None,2025-01-18T15:43:02Z,martnezjorge805,NaN,NaN
1,NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...,contacts/804,804,PATIENT,Jorge,Martinez,,GENDER_OTHER,0000-00-00,,...,ACTIVE,None,0001-01-01,contacts/804,NaN,None,2025-01-18T15:01:53Z,martinezjorge804,NaN,NaN
2,NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...,contacts/803,803,PATIENT,Javier,Perez,,GENDER_OTHER,0000-00-00,,...,ACTIVE,None,0001-01-01,contacts/803,NaN,None,2025-01-17T23:58:13Z,perezjavier803,NaN,NaN
3,NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...,contacts/802,802,PATIENT,Luis,Valera,,GENDER_OTHER,0000-00-00,,...,ACTIVE,None,0001-01-01,contacts/802,NaN,None,2025-01-17T23:36:28Z,valeraluis802,NaN,NaN
4,NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...,contacts/801,801,PATIENT,Rodrigo,Perez,,GENDER_OTHER,0000-00-00,,...,ACTIVE,None,0001-01-01,contacts/801,NaN,None,2025-01-17T23:36:07Z,perezrodrigo801,NaN,NaN

In [40]:
# Nombre de la columna a eliminar
columna_a_eliminar = 'next_page_token'

# Eliminar la columna directamente del DataFrame original
df_contacts.drop(columns=[columna_a_eliminar], inplace=True)

# Mostrar las primeras filas del DataFrame actualizado
df_contacts.head()

,name,remote_id,type,given_name,family_name,preferred_name,gender,birth_date,notes,addresses,...,state,preferred_provider,first_visit,guarantor,opt_ins,create_time,update_time,additional_data.ImageFolder,opt_ins.sms,opt_ins.email
0,contacts/805,805,PATIENT,Jorge,Martínez,,GENDER_OTHER,0000-00-00,,[],...,ACTIVE,None,0001-01-01,contacts/805,NaN,None,2025-01-18T15:43:02Z,martnezjorge805,NaN,NaN
1,contacts/804,804,PATIENT,Jorge,Martinez,,GENDER_OTHER,0000-00-00,,[],...,ACTIVE,None,0001-01-01,contacts/804,NaN,None,2025-01-18T15:01:53Z,martinezjorge804,NaN,NaN
2,contacts/803,803,PATIENT,Javier,Perez,,GENDER_OTHER,0000-00-00,,[],...,ACTIVE,None,0001-01-01,contacts/803,NaN,None,2025-01-17T23:58:13Z,perezjavier803,NaN,NaN
3,contacts/802,802,PATIENT,Luis,Valera,,GENDER_OTHER,0000-00-00,,[],...,ACTIVE,None,0001-01-01,contacts/802,NaN,None,2025-01-17T23:36:28Z,valeraluis802,NaN,NaN
4,contacts/801,801,PATIENT,Rodrigo,Perez,,GENDER_OTHER,0000-00-00,,[],...,ACTIVE,None,0001-01-01,contacts/801,NaN,None,2025-01-17T23:36:07Z,perezrodrigo801,NaN,NaN

In [41]:
# URL del endpoint
url_appointments = "https://unify.kolla.dev/dental/v1/appointments"

# Headers necesarios para la solicitud
headers = {
    "accept": "application/json",
    "authorization": "Bearer kc.wy4doz22svbcdnnm4tlpkgtmkm",
    "connector-id": "opendental-50181",
    "consumer-id": "kolla-opendental-sandbox"
}

# Realizar la solicitud GET
try:
    response = requests.get(url_appointments, headers=headers)

    # Verificar si la solicitud fue exitosa
    if response.status_code == 200:
        # Convertir la respuesta a JSON
        data = response.json()

        # Convertir los datos a un DataFrame de pandas
        df_appointments = pd.DataFrame(data)  # Asegúrate de que los datos sean una lista de diccionarios

        print("Datos obtenidos y convertidos a DataFrame:")
        print(df_appointments.head())  # Muestra las primeras filas del DataFrame
    else:
        print(f"Error al obtener los datos: {response.status_code}")
        print("Detalle:", response.text)

except Exception as e:
    print(f"Error al conectar con la API: {e}")

Datos obtenidos y convertidos a DataFrame:
                                        appointments  \
0  {'name': 'appointments/1358', 'remote_id': '13...
1  {'name': 'appointments/1356', 'remote_id': '13...
2  {'name': 'appointments/1355', 'remote_id': '13...
3  {'name': 'appointments/860', 'remote_id': '860...
4  {'name': 'appointments/734', 'remote_id': '734...

                                     next_page_token
0  NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...
1  NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...
2  NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...
3  NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...
4  NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...

In [42]:
# Desanidar la columna "appointments"
appointments_info_df = pd.json_normalize(df_appointments['appointments'])

# Combinar con el DataFrame original (sin duplicar la columna desanidada)
df_appointments = pd.concat([df_appointments.drop(columns=['appointments']), appointments_info_df], axis=1)

# Mostrar el DataFrame resultante
df_appointments.head()

,next_page_token,name,remote_id,contact_id,location,start_time,end_time,wall_start_time,wall_end_time,time_zone,...,contact.name,contact.remote_id,contact.given_name,contact.family_name,scheduler.name,scheduler.remote_id,scheduler.type,scheduler.display_name,additional_data.new_patient,scheduler
0,NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...,appointments/1358,1358,contacts/16,,2025-01-16T17:00:00Z,2025-01-16T17:30:00Z,2025-01-16 10:00:00,2025-01-16 10:30:00,,...,,16,Jane,Smith,,user_1,staff,,NaN,NaN
1,NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...,appointments/1356,1356,contacts/16,,2025-01-15T20:10:00Z,2025-01-15T20:40:00Z,2025-01-15 13:10:00,2025-01-15 13:40:00,,...,,16,Jane,Smith,,user_1,staff,,NaN,NaN
2,NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...,appointments/1355,1355,contacts/16,,2025-01-14T20:10:00Z,2025-01-14T20:40:00Z,2025-01-14 13:10:00,2025-01-14 13:40:00,,...,,16,Jane,Smith,,user_1,staff,,NaN,NaN
3,NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...,appointments/860,860,contacts/583,,2024-11-05T17:20:00Z,2024-11-05T17:50:00Z,2024-11-05 10:20:00,2024-11-05 10:50:00,,...,,583,Junior,Berry,,user_1,staff,,true,NaN
4,NX8DAQEJUGFnZVRva2VuAf-AAAECAQZPZmZzZXQBBAABD1...,appointments/734,734,contacts/22,,2024-06-26T19:00:00Z,2024-06-26T19:40:00Z,2024-06-26 13:00:00,2024-06-26 13:40:00,,...,,22,Clinton,Berry,,user_1,staff,,NaN,NaN

In [43]:
# Nombre de la columna a eliminar
columna_a_eliminar = 'next_page_token'

# Eliminar la columna directamente del DataFrame original
df_appointments.drop(columns=[columna_a_eliminar], inplace=True)

# Mostrar las primeras filas del DataFrame actualizado
df_appointments.head()

,name,remote_id,contact_id,location,start_time,end_time,wall_start_time,wall_end_time,time_zone,providers,...,contact.name,contact.remote_id,contact.given_name,contact.family_name,scheduler.name,scheduler.remote_id,scheduler.type,scheduler.display_name,additional_data.new_patient,scheduler
0,appointments/1358,1358,contacts/16,,2025-01-16T17:00:00Z,2025-01-16T17:30:00Z,2025-01-16 10:00:00,2025-01-16 10:30:00,,"[{'name': 'resources/provider_1', 'remote_id':...",...,,16,Jane,Smith,,user_1,staff,,NaN,NaN
1,appointments/1356,1356,contacts/16,,2025-01-15T20:10:00Z,2025-01-15T20:40:00Z,2025-01-15 13:10:00,2025-01-15 13:40:00,,"[{'name': 'resources/provider_3', 'remote_id':...",...,,16,Jane,Smith,,user_1,staff,,NaN,NaN
2,appointments/1355,1355,contacts/16,,2025-01-14T20:10:00Z,2025-01-14T20:40:00Z,2025-01-14 13:10:00,2025-01-14 13:40:00,,"[{'name': 'resources/provider_3', 'remote_id':...",...,,16,Jane,Smith,,user_1,staff,,NaN,NaN
3,appointments/860,860,contacts/583,,2024-11-05T17:20:00Z,2024-11-05T17:50:00Z,2024-11-05 10:20:00,2024-11-05 10:50:00,,"[{'name': 'resources/provider_3', 'remote_id':...",...,,583,Junior,Berry,,user_1,staff,,true,NaN
4,appointments/734,734,contacts/22,,2024-06-26T19:00:00Z,2024-06-26T19:40:00Z,2024-06-26 13:00:00,2024-06-26 13:40:00,,"[{'name': 'resources/provider_1', 'remote_id':...",...,,22,Clinton,Berry,,user_1,staff,,NaN,NaN